body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.chat-messages {
  border: 2px solid #5C6AC4;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #FFFDF5;
}
.chat-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-sent {
  background-color: #5C6AC4;
  color: white;
  padding: 2px 20px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 70%;
  align-self: flex-end;       
  word-wrap: break-word;       
}
.message-received {
  background-color: #E5E5EA;
  color: black;
  padding: 2px 20px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 70%;
  align-self: flex-start; 
  word-wrap: break-word;
}
.chat-messages {
  border: 2px solid #5C6AC4;
  width: 400px;
  height: 400px;
  padding: 10px;
  margin: auto;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
}
